@using System.Configuration
@using OCDSApi.Models
@model ApiResponse
@{
    ViewBag.Title = "API Search Result";
}
<h1>@ViewBag.Title</h1>
<p style="text-align: right">@Html.ActionLink("Back to API search home", "Index", "Home")</p>

@if (Model.Releases != null && Model.Releases.Any())
{
    var release = Model.Releases.First();

    var supplier = release.parties.FirstOrDefault();
    var contract = release.contracts.FirstOrDefault();
    <hr />
    <table style="width: 100%">
    @if (contract != null)
    {
        var procumentMethod = contract.procurementMethodDetails ?? "";
        <tr>
            <th>CN ID</th>
            <td>@(contract.amendments != null ? contract.amendments.FirstOrDefault().id : contract.id)</td>
        </tr>
        <tr>
            <th>Publish Date</th>
            <td>@release.date</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>@Html.Raw(contract.description)</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>@contract.status</td>
        </tr>
        <tr>
            <th>Procurement Method</th>
            <td>@procumentMethod</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>@contract.period.startDate</td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>@contract.period.endDate</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>$@contract.value.Amount</td>
        </tr>
    }
    @if (supplier != null)
        {
            <tr>
                <th>Supplier Name</th>
                <td>@supplier.name</td>
            </tr>
            <tr>
                <th>Town/City</th>
                <td>@supplier.address.locality</td>
            </tr>
            <tr>
                <th>State/Territory</th>
                <td>@supplier.address.region</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>@supplier.address.postalCode</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>@supplier.address.countryName</td>
            </tr>
        }
    @if (Model.Releases.Count > 1)
    {
        <tr>
            <th>Amendments</th>
            <td>
                <ul style="padding: 0">
                    @foreach (var amendment in Model.Releases.Skip(1))
                    {
                        var amendmentId = amendment.contracts.FirstOrDefault()?.amendments.FirstOrDefault()?.id ?? "";
                        if (!string.IsNullOrEmpty(amendmentId))
                        {
                            <li>
                                @Html.ActionLink(amendmentId, "SearchApi", "Home", new { CnId = amendmentId }, new { target = "_blank" }) @if (!string.IsNullOrEmpty(amendment.date))
                                {@Html.Raw("(" + amendment.date + ")")}
                            </li>
                        }
                    }
                </ul>
            </td>
        </tr>
    }
    </table>
}
else
{
    <p>There are no results that match your selection.</p>
}




